
header { display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 50px;
    width: 100%;
    background-color: black;
    z-index: 10;
    color: black;
   
}



nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    margin-right: 60px;
    font-size: 20px;
    color: skyblue;
}   

li {
    margin-right:10px;
}

h1 {
    font-size: 42px;
    display: flex;
    flex-wrap: wrap;
}

h2 {
        font-size: 42px;
        display: flex;
        flex-wrap: wrap;
    }




section {

}

.title-box {
    background-color: skyblue;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    padding-right:7px;
}



.stripes {
    width:100%;
    height: 150px;
}

#subtitle {
    position: relative;
    text-align: center;
    color: black;
}

.stripes-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color:skyblue;
    font-size: 32px;
    padding: 5px;
}

#work-gallery {
    border: 5px solid;
    background-color: ;
    color: ;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin:0.5em;
    text-decoration: none;
    background-blend-mode: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;}
    
#work-img-eola {
    border: 5px solid;
    background-color: ;
    color: ;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin:0.5em;
    text-decoration: none;
    background-blend-mode: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;

}
#work-img-hvac {
    border: 5px solid;
    background-color: ;
    color: ;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin:0.5em;
    text-decoration: none;
    background-blend-mode: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

#work-img-navy {
    border: 5px solid;
    background-color: ;
    color: ;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin:0.5em;
    text-decoration: none;
    background-blend-mode: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

#work-img-kungfu {
    border: 5px solid;
    background-color: ;
    color: ;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin:0.5em;
    text-decoration: none;
    background-blend-mode: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

#work-img-covid {
    border: 5px solid;
    background-color: ;
    color: ;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin:0.5em;
    text-decoration: none;
    background-blend-mode: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

}
 #contact{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1%;
    height: 50px;
    width:;
    background-color: ;
    z-index: 10;
    color: ;
    
}

.page-bottom {
    display: flex;
    align-items: stretch ;
    list-style: none;
    font-size: 20px;
    color: skyblue;
}